/* colores */
/* fuentes */
/* estructura */
/*Permite crear listados mas grandes de valores que son de la misma familia*/
/* lista colores */
/* lista de fuentes */
* {
  margin: 0%;
  padding: 0%;
  font-family: Helvetica, Arial, sans-serif;
}

/* colores */
/* fuentes */
/* estructura */
/*Permite crear listados mas grandes de valores que son de la misma familia*/
/* lista colores */
/* lista de fuentes */
header {
  position: static;
  background-color: #D6B287;
  color: black;
  top: 0%;
  width: 100%;
}
header nav a {
  text-decoration: none;
  color: black;
}
header nav .logo1 {
  display: inline;
  margin-top: 20px;
  margin-left: 40px;
  width: 130px;
  padding-bottom: 20px;
}
header nav h1 {
  display: inline;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0%;
  font-size: 190%;
}
header nav h2 {
  display: inline;
  position: absolute;
  top: 80px;
  left: 175px;
  font-size: 22px;
  font-weight: 600;
}
header nav div ul {
  position: absolute;
  text-decoration: none;
  top: 81px;
  right: 60px;
  padding-right: 0%;
  padding-left: 0px;
}
header nav div ul li {
  display: inline;
  color: rgba(0, 0, 0, 0.3960784314);
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
  padding-right: 15px;
  padding-bottom: 3px;
  padding-left: 15px;
  margin: 8px;
}
header nav div ul li:hover {
  background-color: rgba(167, 94, 5, 0.8);
  font-style: italic;
  border-radius: 20px;
}

.reserva {
  background-image: linear-gradient(to left, rgb(78, 224, 33), white);
  border-radius: 10px;
  padding: 8px;
}

.selected {
  color: whitesmoke;
  background-color: rgba(167, 94, 5, 0.8);
  font-style: italic;
  border-radius: 20px;
}

@media only screen and (min-width: 481px) and (max-width: 1038px) {
  nav {
    height: 185px;
  }
  nav .menu {
    display: flex;
    right: 6%;
    margin-top: 52px;
  }
  nav .menu li {
    font-size: 16px;
    padding: 4px;
  }
}
@media only screen and (max-width: 480px) {
  Header {
    position: relative;
    background-color: #D6B287;
    padding: 50px;
    padding-bottom: 10%;
    color: rgb(50, 45, 45);
    font-style: oblique;
    width: 100%;
  }
  Header nav a {
    color: #010101;
    font-style: normal;
    padding: 0px;
  }
  Header nav .logo1 {
    display: block;
    width: 140px;
    margin: auto;
    margin-top: -30px;
    margin-bottom: -15px;
  }
  Header nav h1 {
    display: none;
  }
  Header nav h2 {
    display: block;
    position: static;
    text-align: center;
  }
  Header nav div ul {
    position: static;
    top: 55%;
    display: grid;
    text-align: center;
    vertical-align: middle;
    border: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    grid-template-rows: 30px 30px 50px;
    grid-template-columns: 2fr 2fr;
    row-gap: 5px;
    text-decoration: solid black;
  }
  Header nav div ul li {
    color: rgb(14, 93, 142);
  }
  Header nav div ul li:hover {
    background-color: #D6B287;
    border-radius: 50px;
  }
  Header nav div ul .reserva {
    text-align: center;
    grid-column: 3/1;
    margin: 5px;
    margin-top: 5px;
    background-color: #48AD58;
  }
}
/*-- INDEX -- */
.ytcontainer {
  margin-top: 8px;
}

.mid-servicio {
  margin-top: 8px;
  background-color: #D6B287;
}
.mid-servicio .subtitulot {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 46px;
}
.mid-servicio .text {
  font-size: 20px;
  padding-top: 0px;
  padding-right: 20%;
  padding-bottom: 30px;
  padding-left: 46px;
}
@media only screen and (max-width: 480px) {
  .mid-servicio .servicio {
    font-size: 19px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 37px;
  }
  .mid-servicio .text {
    font-size: 18px;
    padding-top: 0px;
    padding-right: 20%;
    padding-bottom: 30px;
    padding-left: 37px;
  }
}

.especialidad {
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 46px;
}

.plato1 {
  width: 60%;
  height: 60%;
  padding-top: 15px;
  margin-left: 20%;
}

.logo-home {
  display: block;
  margin: auto;
  width: 165px;
  padding-top: 1%;
  padding-bottom: 0px;
}

.asador {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-top: 0px;
}

@media only screen and (max-width: 480px) {
  .plato1 {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    margin: auto;
  }
  .logo-home {
    display: block;
    margin: auto;
    width: 140px;
    padding-top: 4%;
    padding-bottom: 0px;
  }
  .asador {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding-top: 0px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 950px) {
  .plato1 {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    margin: auto;
  }
}
/*-- NOSOTROS -- */
.subtitulot {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 46px;
}

.text {
  font-size: 20px;
  padding-top: 0px;
  padding-right: 20%;
  padding-bottom: 30px;
  padding-left: 46px;
}

div .javier {
  display: block;
  width: 90%;
  margin-bottom: 5px;
  margin-top: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 46px;
}
div .javierb {
  display: block;
  margin: auto;
  width: 95%;
  margin-bottom: 40px;
}
div .aplauso {
  display: block;
  margin: auto;
  width: 180px;
  margin-bottom: 40px;
}

/*-- MENU -- */
section .text-menu {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 46px;
}
section .galeria {
  display: flex;
  position: absolute;
  padding: 10px 60% 10px 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #D6B287;
  border-radius: 0px 10px 10px 0px;
}
section .recomendado {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  margin-top: 10%;
  margin-left: 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #b98a50;
  font-weight: bold;
}
section .lomo {
  display: inline;
  position: absolute;
  width: 45%;
  margin-bottom: 5px;
  margin-top: 14%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 46px;
}

div .plato2 {
  display: flex;
  position: relative;
  padding: 0%;
  margin-top: 0.4%;
  margin-left: 48%;
  width: 45%;
}
div .linea {
  display: flex;
  position: absolute;
  text-align: end;
  margin-top: 2%;
  margin-left: 25%;
  padding: 0px 34% 55px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #D6B287;
}
div .asado {
  display: flex;
  position: relative;
  left: 15%;
  width: 60%;
  margin-top: 2%;
}
div .mid-logo {
  display: flex;
  position: absolute;
  top: 6%;
  left: 11%;
  width: 17%;
  margin-top: 40%;
}

.footer {
  background-color: #D6B287;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.title {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
