@import "../scss/base/variables";
@import "../scss/base/listas";
@import "../scss/base/extends";
@import "../scss/base/mapas";
@import "../scss/base/mixins";

@import "../scss/sections/header";
@import "../scss/sections/body";
@import "../scss/sections/footer";



*{
    margin: 0%;
    padding: 0%;
    font-family: Helvetica, Arial, sans-serif;
}





