@import "../base/variables";
@import "../base/listas";


header {
    position: static;
    background-color: $bg-color-main;
    color: $bg-color-terciario;
    top: 0%;
    width: 100%;

    nav {
        a {
            text-decoration: none;
            color: nth($colores, 3);
        }
            .logo1 {
                display: inline;
                margin-top: 20px;
                margin-left: 40px;
                width: 130px;
                padding-bottom: 20px;
            }
        
            h1 {
            display: inline;
            font-family: $font-header;
            padding: 0%; 
            font-size: 190%;
            }

            h2 {
                display: inline;
                position: absolute;
                top: 80px;
                left: 175px;
                font-size: 22px;
                font-weight: 600;
            }

            div {
                
                    ul {
                        position: absolute;
                        text-decoration: none;
                        top: 81px;
                        right: 60px;
                        padding-right: 0%;
                        padding-left: 0px;

                        li {
                            display: inline;
                            color: nth($colores, 3);
                            font-size: 18px;
                            font-weight: bold;
                            padding-top: 3px;
                            padding-right: 15px;
                            padding-bottom: 3px;
                            padding-left: 15px;
                        
                            &:hover {
                                background-color: rgba(92, 180, 215, 0.8);
                                font-style: italic;
                                border-radius: 20px;
                                }
                            }
                        }
                    }   
                }
}

.reserva {
    background-image: linear-gradient(to left, rgb(78, 224, 33), white);
    border-radius: 10px;
    padding: 8px;
}

.selected {
    color: whitesmoke;
    background-color: rgba(92, 180, 215, 0.8);
    font-style: italic;
    border-radius: 20px;
}

@media only screen and (min-width: 481px) and (max-width: 1038px) {
    nav{
        height: 185px;

        .menu {
            display: flex;
            right: 6%;
            margin-top: 52px;

            li {
                font-size: 16px;
            }
                .reserva {
                    background-image: linear-gradient(to left, rgb(78, 224, 33), white);
                    border-radius: 10px;
                    margin-top: -1px;
                    padding: 4px;
                }
        }
    }
}


@media only screen and (max-width: 480px) {

    Header {
        position: relative;
        background-color: nth($colores, 1);
        padding: 50px;
        padding-left: 35px;
        padding-bottom: 10%;
        color: rgb(50, 45, 45);
        font-style: oblique;
        width: 100%;

        nav {

            a {
                color: #010101;
                font-style: normal;
                padding: 0px;
            }

                .logo1 {
                    display: block;
                    width: 140px;
                    margin: auto;
                    margin-top: -30px;
                    margin-bottom: -15px;
                }

                h1 {
                    display: none;
                }

                h2 {
                    display: block;
                    position: static;
                    text-align: center;
                    }

                div {
                    

                    ul {
                        position: static;
                        top: 55%;
                        display: grid;
                        text-align: center;
                        vertical-align: middle;
                        border: 0px;
                        margin-top: 2px;
                        margin-bottom: 2px;
                        grid-template-rows: 30px 30px 50px;
                        grid-template-columns: 2fr 2fr;
                        row-gap: 5px;
                        color: $bg-color-terciario;
                        
                        
                                                
                        li { 
                            color: $bg-color-menu;
                            
                            &:hover {
                                background-color: #D6B287;
                                border-radius: 50px;
                                }
                        }

                        .reserva {
                                text-align: center;
                                grid-column: 3 / 1;
                                margin: 5px;
                                margin-top: 5px;
                                background-color: #48AD58;
                        }
                        
                    }
                }
        }
    }
}



