@import "../base/variables";
@import "../base/listas";



header{
    background-color: $bg-color-main;
    color: black;
    nav {

        a{
        text-decoration: none;

            .logo1 {
                display: inline;
                margin-top: 20px;
                margin-left: 40px;
                width: 130px;
                padding-bottom: 20px;
                    
                    .menu-container{
                    position: absolute;
                    text-decoration: none;
                                            
                        .menu{
                            display: inline;
                            
                            li {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }


    
h1{
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2 {
    display: inline;
    position: absolute;
    top: 80px;
    left: 175px;
    font-size: 22px;
    font-weight: 600;
}