
%linea {
    display: flex;
    position: relative; 
    margin-top: 90px;
    margin-right: 26%;
    padding: 0px 35% 55px;
    background-color: #D6B287; 
    border-radius: 0px 20px 20px 0px;
}


