

$bg-user: (
    color: green,
    border: 1px dotted blue,
    font-size: 28px
);

$bg-user-gold: (
    color-gold: black,
    border-gold: 1px dotted gold,
    font-size-gold: 44px
);


/*para aplicar:
.standar (o clase) {
    color: map-get($bg-user , color);
}
