
$bg-color-main: #D6B287;
$bg-color-secondary: rgb(245, 245, 230);
$bg-color-terciario: black;
$bg-color-menu: rgba(92, 180, 215, 0.8);
$hover-color: black;
$text-color: #464646;



$font-header: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-main: Arial, Helvetica, sans-serif;

$font-titulos: 40px;